footer {
  background-color: black;
}
.whole_footer {
  padding: 50px 0;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.footer_top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.footer_menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(165, 165, 165);
  font-weight: 400;
  font-size: 12px;
  gap: 20px;
  margin-left: 20px;
  margin-right: 200px;
  position: relative;
  right: 100px;
}

.footer_menu_first > a {
  border-right: 1px solid rgb(165, 165, 165);
  padding: 0 15px;
}

.footer_menu_second > a {
  border-right: 1px solid rgb(165, 165, 165);
  padding: 0 15px;
}

.footer_menu_third {
  padding-left: 15px;
}

.footer_site {
  color: rgb(165, 165, 165);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.upper_box {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.lower_box {
  border: 1px solid rgb(165, 165, 165);
  display: flex;
  padding: 10px;
  justify-content: space-between;
  position: relative;
}

.lower_box > span {
  font-size: 12px;
}

.lower_box_list {
  position: absolute;
  bottom: 30px;
  right: 0;
  width: 200px;
  background-color: black;
  color: rgb(165, 165, 165);
  border: 1px solid rgb(165, 165, 165);
  display: none;
}

.lower_box_list > li {
  padding: 10px;
  font-size: 12px;
}

.footer_bottom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}

.company_certification {
  color: rgb(165, 165, 165);
  display: flex;
  gap: 7px;
  font-size: 13px;
}

.company_certification > img {
  width: 40px;
  height: 40px;
}
